apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: whispr-prod

resources:
  - ../../base
  - pdb.yaml

commonLabels:
  environment: prod

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: messaging-service
      spec:
        replicas: 3
        template:
          spec:
            containers:
              - name: messaging-service
                resources:
                  requests:
                    cpu: "500m"
                    memory: "1Gi"
                  limits:
                    cpu: "2000m"
                    memory: "2Gi"
            topologySpreadConstraints:
              - maxSkew: 1
                topologyKey: topology.kubernetes.io/zone
                whenUnsatisfiable: ScheduleAnyway
                labelSelector:
                  matchLabels:
                    app: messaging-service
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: messaging-service
      spec:
        minReplicas: 3
        maxReplicas: 20

configMapGenerator:
  - name: messaging-service-config
    behavior: merge
    literals:
      - DB_HOST=messaging-postgresql-prod
      - REDIS_HOST=messaging-redis-prod
      - DB_POOL_SIZE=20
