apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: messaging-service

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/managed-by: kustomize

resources:
  - serviceaccount.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: messaging-service
  app.kubernetes.io/part-of: whispr
