apiVersion: v1
kind: ServiceAccount
metadata:
  name: messaging-service
  labels:
    app: messaging-service
    app.kubernetes.io/name: messaging-service
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: whispr
