apiVersion: v1
kind: Service
metadata:
  name: messaging-service
  labels:
    app: messaging-service
    app.kubernetes.io/name: messaging-service
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: whispr
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 4000
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 4001
      targetPort: grpc
      protocol: TCP
  selector:
    app: messaging-service
