apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: whispr-staging

resources:
  - ../../base

commonLabels:
  environment: staging

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: messaging-service
      spec:
        replicas: 2
        template:
          spec:
            containers:
              - name: messaging-service
                resources:
                  requests:
                    cpu: "200m"
                    memory: "384Mi"
                  limits:
                    cpu: "750m"
                    memory: "768Mi"
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: messaging-service
      spec:
        minReplicas: 2
        maxReplicas: 5

configMapGenerator:
  - name: messaging-service-config
    behavior: merge
    literals:
      - DB_HOST=messaging-postgresql-staging
      - REDIS_HOST=messaging-redis-staging
